NEXT_PUBLIC_SITE_URL=https://editexsoft.com
NEXT_PUBLIC_APP_URL=https://app.editexsoft.com
NEXT_PUBLIC_DOWNLOAD_URL=/downloads/EditexSoftSetup.exe
NEXT_PUBLIC_APP_VERSION=3.4.2
NEXT_PUBLIC_APP_RELEASE_DATE=2026-08-18
NEXT_PUBLIC_APP_SIZE_MB=84
NEXT_PUBLIC_WHATSAPP_PHONE=905550000000
NEXT_PUBLIC_PHONE_DISPLAY=+90 555 000 00 00
RESEND_API_KEY=
CONTACT_FROM_EMAIL=EditexSoft <bildirim@editexsoft.com>
CONTACT_TO_EMAIL=info@editexsoft.com
CONTACT_WEBHOOK_URL=
